

/* header */

#logo {
  color: MediumAquamarine;
  font-size: 14px;
  padding-top: 10px;
  padding-left: 5px;
}

.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.container1 {
  display: flex;
  align-content: flex-start;
  padding-left: 25px;
}

.container2 {
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
  padding-right: 25px;
}

.header li {
  display: inline-flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

a {
  margin: auto 20px;
}


/* main */

.main {
  display: flex;
  justify-content: space-around;
}

.column_large {
  width: 630px;
  height: auto;
  border: 1px solid black
}

.column_medium {
  width: 300px;
  border: 1px solid blue
}

.column_small {
  width: 240px;
  border: 1px solid green
}

.mother {
  border: 1px solid black
}

.orca {
  border: 1px solid black
}

.burger {
  border: 1px solid black
}

#mother {
  background-image: url("./resources/images/img-story-main.png");
}

#fall {
  background-image: url("./resources/images/img-story-2.png");
}

#cookie {
  background-image: url("./resources/images/img-news-bite.png");
}

#hipster {
  background-image: url("./resources/images/img-story-3.png");
}

#cats {
  background-image: url("./resources/images/img-story-1.png");
}

#bite {
}
